<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Nology Students</a>
    <ul>
      <li><a href="/intakes">Intakes</a></li>
      <li><a href="/intakes/new">Add Intake</a></li>
      <li><a href="/students">Students</a></li>
      <li><a href="/students/new">Add Student</a></li>
    </ul>
  </nav>
</header>
