<div class="form-row">
  <div class="form-item">
    <label for="name">Name</label>
    <!-- we included the ejs code so we can import dinamicaly the name of the current intake -->
    <input type="text" name="name" value="<%= intake.name %>" />
  </div>
</div>
