<div class="form-row">
  <div class="form-item">
    <label for="name">Name</label>
    <!-- we included the ejs code so we can import dinamicaly the name of the current author -->
    <input type="text" name="name" value="<%= author.name %>" />
  </div>
</div>
